{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Crear contrato de "Arriendo"</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('arriendo') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
